<div class="overview p-3">
  <h2 class="section-title" i18n>Membership</h2>
  <div class="row">
    <div class="col">
      <div class="dashboard-card d-flex flex-column align-items-center">
        <gf-membership-card
          [expiresAt]="user?.subscription?.expiresAt | date: defaultDateFormat"
          [hasPermissionToCreateApiKey]="hasPermissionToCreateApiKey"
          [hover3d]="true"
          [name]="user?.subscription?.type"
          (generateApiKeyClicked)="onGenerateApiKey()"
        />
        @if (user?.subscription?.type === 'Basic') {
          <div class="d-flex flex-column mt-5">
            @if (
              hasPermissionForSubscription && hasPermissionToUpdateUserSettings
            ) {
              <button color="primary" mat-flat-button (click)="onCheckout()">
                @if (user.subscription.offer.isRenewal) {
                  <ng-container i18n>Renew Plan</ng-container>
                } @else {
                  <ng-container i18n>Upgrade Plan</ng-container>
                }
              </button>
              @if (price) {
                <div class="mt-2 text-center">
                  @if (coupon) {
                    <del class="text-muted"
                      >{{ baseCurrency }}&nbsp;{{ price }}</del
                    >&nbsp;<span class="text-main"
                      >{{ baseCurrency }}&nbsp;{{ price - coupon }}</span
                    >
                  } @else {
                    <span class="text-main"
                      >{{ baseCurrency }}&nbsp;{{ price }}</span
                    >
                  }
                  &nbsp;<span class="text-subtitle" i18n>per year</span>
                </div>
              }
              @if (durationExtension) {
                <div class="mt-2 text-center">
                  <div
                    class="badge rounded-pill text-bg-warning fw-normal px-2 py-1"
                  >
                    <strong i18n>Limited Offer!</strong>
                    <ng-container>&nbsp;</ng-container>
                    <ng-container i18n
                      >Get {{ durationExtension }} extra</ng-container
                    >
                  </div>
                </div>
              }
            }
            <div class="align-items-center d-flex justify-content-center mt-4">
              @if (!user?.subscription?.expiresAt) {
                <a class="mx-1" mat-stroked-button [href]="trySubscriptionMail"
                  ><span i18n>Try Premium</span>
                  <gf-premium-indicator
                    class="d-inline-block ms-1"
                    [enableLink]="false"
                  />
                </a>
              }
              @if (hasPermissionToUpdateUserSettings) {
                <a
                  class="mx-1"
                  i18n
                  mat-stroked-button
                  [routerLink]=""
                  (click)="onRedeemCoupon()"
                  >Redeem Coupon</a
                >
              }
            </div>
          </div>
        } @else {
          <div class="mt-4 text-subtitle">
            <small i18n>No auto-renewal on membership.</small>
          </div>
        }
      </div>
    </div>
  </div>
</div>
