<mat-toolbar class="px-0">
  @if (user()) {
    <div class="d-flex h-100 logo-container" [class.filled]="hasTabs()">
      <a
        class="align-items-center h-100 justify-content-start px-2 px-sm-3 rounded-0"
        mat-button
        [class.w-100]="hasTabs()"
        [routerLink]="['/']"
        (click)="onLogoClick()"
      >
        <gf-logo [label]="pageTitle()" />
      </a>
    </div>
    <ul
      class="align-items-center d-none d-sm-flex list-inline m-0 nav-center px-2"
    >
      <!-- Overview -->
      <li class="list-inline-item nav-item-dropdown">
        <a
          class="d-none d-sm-block rounded nav-link-btn"
          i18n
          mat-button
          [class.nav-pill-active]="
            currentRoute() === internalRoutes.home.path ||
            currentRoute() === internalRoutes.zen.path
          "
          [routerLink]="['/']"
          >Overview</a
        >
      </li>

      <!-- Portfolio -->
      <li class="list-inline-item nav-item-dropdown">
        <a
          class="d-none d-sm-block rounded nav-link-btn"
          i18n
          mat-button
          [class.nav-pill-active]="
            currentRoute() === internalRoutes.portfolio.path
          "
          [routerLink]="routerLinkPortfolio"
          >Portfolio</a
        >
        <div class="contextual-dropdown">
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-icon name="analytics-outline"></ion-icon>
            <span i18n>Analysis</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio', 'holdings']"
          >
            <ion-icon name="albums-outline"></ion-icon>
            <span i18n>Holdings</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio', 'activities']"
          >
            <ion-icon name="swap-vertical-outline"></ion-icon>
            <span i18n>Activities</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio', 'allocations']"
          >
            <ion-icon name="pie-chart-outline"></ion-icon>
            <span i18n>Allocations</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio', 'watchlist']"
          >
            <ion-icon name="bookmark-outline"></ion-icon>
            <span i18n>Watchlist</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="
              hasPermissionToAccessMarkets
                ? ['/portfolio', 'markets-premium']
                : ['/portfolio', 'markets']
            "
          >
            <ion-icon name="newspaper-outline"></ion-icon>
            <span i18n>Markets</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/portfolio', 'x-ray']"
          >
            <ion-icon name="scan-outline"></ion-icon>
            <span i18n>X-ray</span>
          </a>
        </div>
      </li>

      <!-- My Goals -->
      <li class="list-inline-item nav-item-dropdown">
        <a
          class="d-none d-sm-block rounded nav-link-btn"
          i18n
          mat-button
          [class.nav-pill-active]="
            currentRoute() === internalRoutes.myGoals.path
          "
          [routerLink]="routerLinkMyGoals"
          >My Goals</a
        >
        <div class="contextual-dropdown">
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/my-goals']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-icon name="flag-outline"></ion-icon>
            <span i18n>My Goals</span>
          </a>
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/my-goals', 'fire']"
          >
            <ion-icon name="calculator-outline"></ion-icon>
            <span i18n>FIRE</span>
          </a>
        </div>
      </li>

      <!-- My Properties -->
      <li class="list-inline-item nav-item-dropdown">
        <a
          class="d-none d-sm-block rounded nav-link-btn"
          i18n
          mat-button
          [class.nav-pill-active]="
            currentRoute() === internalRoutes.myProperties.path
          "
          [routerLink]="routerLinkMyProperties"
          >My Properties</a
        >
        <div class="contextual-dropdown">
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/my-properties']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-icon name="home-outline"></ion-icon>
            <span i18n>All Properties</span>
          </a>
          @for (p of realEstateProperties(); track p.id) {
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/my-properties', p.id]"
            >
              <ion-icon name="home-outline"></ion-icon>
              <span>{{ p.name }}</span>
            </a>
          }
        </div>
      </li>

      <!-- Accounts -->
      <li class="list-inline-item nav-item-dropdown">
        <a
          class="d-none d-sm-block rounded nav-link-btn"
          i18n
          mat-button
          [class.nav-pill-active]="
            currentRoute() === internalRoutes.accounts.path
          "
          [routerLink]="routerLinkAccounts"
          >Accounts</a
        >
        <div class="contextual-dropdown">
          <a
            class="dropdown-link"
            routerLinkActive="active"
            [routerLink]="['/accounts']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-icon name="wallet-outline"></ion-icon>
            <span i18n>Accounts</span>
          </a>
          @if (!user()?.settings?.isRestrictedView) {
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/accounts', 'integrations']"
            >
              <ion-icon name="sync-outline"></ion-icon>
              <span i18n>Integrations</span>
            </a>
          }
        </div>
      </li>

      <!-- Admin Control -->
      @if (hasPermissionToAccessAdminControl) {
        <li class="list-inline-item nav-item-dropdown">
          <a
            class="d-none d-sm-block rounded nav-link-btn"
            i18n
            mat-button
            [class.nav-pill-active]="
              currentRoute() === internalRoutes.adminControl.path
            "
            [routerLink]="routerLinkAdminControl"
            >Admin Control</a
          >
          <div class="contextual-dropdown">
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/admin']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon name="reader-outline"></ion-icon>
              <span i18n>Overview</span>
            </a>
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/admin', 'settings']"
            >
              <ion-icon name="settings-outline"></ion-icon>
              <span i18n>Settings</span>
            </a>
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/admin', 'market-data']"
            >
              <ion-icon name="server-outline"></ion-icon>
              <span i18n>Market Data</span>
            </a>
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/admin', 'jobs']"
            >
              <ion-icon name="flash-outline"></ion-icon>
              <span i18n>Job Queue</span>
            </a>
            <a
              class="dropdown-link"
              routerLinkActive="active"
              [routerLink]="['/admin', 'users']"
            >
              <ion-icon name="people-outline"></ion-icon>
              <span i18n>Users</span>
            </a>
          </div>
        </li>
      }

      <!-- Pricing -->
      @if (
        hasPermissionForSubscription && user()?.subscription?.type === 'Basic'
      ) {
        <li class="list-inline-item nav-item-dropdown">
          <a
            class="d-none d-sm-block rounded nav-link-btn"
            mat-button
            [class.nav-pill-active]="currentRoute() === routePricing"
            [routerLink]="routerLinkPricing"
          >
            <span class="align-items-center d-flex">
              <span i18n>Pricing</span>
              @if (currentRoute() !== routePricing && hasPromotion()) {
                <span class="badge text-bg-warning ms-1">%</span>
              }
            </span>
          </a>
        </li>
      }
    </ul>
    <span class="gf-spacer"></span>
    <ul class="align-items-center d-flex list-inline m-0 px-2 user-controls">
      @if (hasPermissionToAccessAssistant) {
        <li class="d-inline-flex list-inline-item">
          <button
            #assistantTrigger="matMenuTrigger"
            class="h-100 no-min-width px-2"
            matBadge="&NoBreak;"
            matBadgeSize="small"
            matButton
            [matBadgeHidden]="!hasFilters || !hasPermissionToChangeFilters()"
            [matMenuTriggerFor]="assistantMenu"
            [matMenuTriggerRestoreFocus]="false"
            (menuOpened)="onOpenAssistant()"
          >
            <ion-icon class="rotate-90" name="options-outline" />
          </button>
          <mat-menu
            #assistantMenu="matMenu"
            class="no-max-width"
            xPosition="before"
            [overlapTrigger]="true"
            (closed)="assistantElement()?.setIsOpen(false)"
          >
            <gf-assistant
              #assistant
              [deviceType]="deviceType()"
              [hasPermissionToAccessAdminControl]="
                hasPermissionToAccessAdminControl
              "
              [hasPermissionToChangeDateRange]="
                hasPermissionToChangeDateRange()
              "
              [hasPermissionToChangeFilters]="hasPermissionToChangeFilters()"
              [user]="user()"
              (closed)="closeAssistant()"
              (dateRangeChanged)="onDateRangeChange($event)"
              (filtersChanged)="onFiltersChanged($event)"
            />
          </mat-menu>
        </li>
      }
      <li class="list-inline-item">
        <button
          class="no-min-width px-1"
          mat-button
          [matMenuTriggerFor]="accountMenu"
          (menuClosed)="onMenuClosed()"
          (menuOpened)="onMenuOpened()"
        >
          <ion-icon
            class="d-none d-sm-block"
            name="person-circle-outline"
            size="large"
          />
          <ion-icon
            class="d-block d-sm-none"
            size="large"
            [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"
          />
        </button>
        <mat-menu #accountMenu="matMenu" xPosition="before">
          @if (
            hasPermissionForSubscription &&
            user()?.subscription?.type === 'Basic'
          ) {
            <a class="d-flex" mat-menu-item [routerLink]="routerLinkPricing"
              ><span class="align-items-center d-flex"
                ><span>
                  @if (user().subscription.offer.isRenewal) {
                    <ng-container i18n>Renew Plan</ng-container>
                  } @else {
                    <ng-container i18n>Upgrade Plan</ng-container>
                  }
                </span>
                <gf-premium-indicator
                  class="d-inline-block ms-1"
                  [enableLink]="false" /></span
            ></a>
            <hr class="m-0" />
          }
          @if (user()?.access?.length > 0) {
            <button mat-menu-item (click)="impersonateAccount(null)">
              <span class="align-items-center d-flex">
                <ion-icon
                  class="me-2"
                  [name]="
                    hasImpersonationId
                      ? 'radio-button-off-outline'
                      : 'radio-button-on-outline'
                  "
                />
                <span i18n>Me</span>
              </span>
            </button>
            @for (accessItem of user()?.access; track accessItem) {
              <button mat-menu-item (click)="impersonateAccount(accessItem.id)">
                <span class="align-items-center d-flex">
                  <ion-icon
                    class="me-2"
                    name="square-outline"
                    [name]="
                      accessItem.id === impersonationId
                        ? 'radio-button-on-outline'
                        : 'radio-button-off-outline'
                    "
                  />
                  @if (accessItem.alias) {
                    <span>{{ accessItem.alias }}</span>
                  } @else {
                    <span i18n>User</span>
                  }
                </span>
              </button>
            }
            <hr class="m-0" />
          }
          <a
            class="d-flex d-sm-none"
            i18n
            mat-menu-item
            [class.fw-bold]="
              currentRoute() === internalRoutes.home.path ||
              currentRoute() === internalRoutes.zen.path
            "
            [routerLink]="['/']"
            >Overview</a
          >
          <a
            class="d-flex d-sm-none"
            i18n
            mat-menu-item
            [class.fw-bold]="currentRoute() === internalRoutes.portfolio.path"
            [routerLink]="routerLinkPortfolio"
            >Portfolio</a
          >
          <a
            class="d-flex d-sm-none"
            i18n
            mat-menu-item
            [class.fw-bold]="currentRoute() === internalRoutes.accounts.path"
            [routerLink]="routerLinkAccounts"
            >Accounts</a
          >
          @if (!user()?.settings?.isRestrictedView) {
            <a
              class="d-flex d-sm-none"
              i18n
              mat-menu-item
              [routerLink]="['/accounts', 'integrations']"
              >Integrations</a
            >
          }
          <button
            i18n
            mat-menu-item
            [class.fw-bold]="currentRoute() === internalRoutes.account.path"
            [matMenuTriggerFor]="myGhostfolioMenu"
          >
            My Ghostfolio
          </button>
          <mat-menu #myGhostfolioMenu="matMenu">
            <a i18n mat-menu-item [routerLink]="routerLinkAccount">Settings</a>
            @if (user()?.subscription) {
              <a i18n mat-menu-item [routerLink]="['/account', 'membership']"
                >Membership</a
              >
            }
            <a i18n mat-menu-item [routerLink]="['/account', 'access']"
              >Access</a
            >
          </mat-menu>
          @if (hasPermissionToAccessAdminControl) {
            <a
              class="d-flex d-sm-none"
              i18n
              mat-menu-item
              [class.fw-bold]="
                currentRoute() === internalRoutes.adminControl.path
              "
              [routerLink]="routerLinkAdminControl"
              >Admin Control</a
            >
          }
          <hr class="m-0" />
          @if (
            hasPermissionForSubscription &&
            user()?.subscription?.type === 'Basic'
          ) {
            <a
              class="d-flex d-sm-none"
              mat-menu-item
              [class.fw-bold]="currentRoute() === routePricing"
              [routerLink]="routerLinkPricing"
            >
              <span class="align-items-center d-flex">
                <span i18n>Pricing</span>
                @if (currentRoute() !== routePricing && hasPromotion()) {
                  <span class="badge text-bg-warning ms-1">%</span>
                }
              </span>
            </a>
          }
          <hr class="d-flex d-sm-none m-0" />
          <button i18n mat-menu-item (click)="onSignOut()">Log out</button>
        </mat-menu>
      </li>
    </ul>
  }
  @if (user() === null) {
    <div class="d-flex h-100 logo-container" [class.filled]="hasTabs()">
      <a
        class="align-items-center h-100 justify-content-start px-2 px-sm-3 rounded-0"
        mat-button
        [class.w-100]="hasTabs()"
        [routerLink]="['/']"
      >
        <gf-logo
          [label]="pageTitle()"
          [showLabel]="currentRoute() !== 'register'"
        />
      </a>
    </div>
    <span class="gf-spacer"></span>
    <ul class="align-items-center d-flex list-inline m-0 px-2">
      <li class="list-inline-item">
        <a
          class="d-none d-sm-block rounded"
          i18n
          mat-button
          [class.nav-pill-active]="currentRoute() === routeFeatures"
          [routerLink]="routerLinkFeatures"
          >Features</a
        >
      </li>
      @if (hasPermissionForSubscription) {
        <li class="list-inline-item">
          <a
            class="d-sm-block rounded"
            mat-button
            [class.nav-pill-active]="currentRoute() === routePricing"
            [routerLink]="routerLinkPricing"
          >
            <span class="align-items-center d-flex">
              <span i18n>Pricing</span>
              @if (currentRoute() !== routePricing && hasPromotion()) {
                <span class="badge text-bg-warning ms-1">%</span>
              }
            </span>
          </a>
        </li>
      }
      @if (hasPermissionToAccessFearAndGreedIndex) {
        <li class="list-inline-item">
          <a
            class="d-none d-sm-block rounded"
            i18n
            mat-button
            [class.nav-pill-active]="currentRoute() === routeMarkets"
            [routerLink]="routerLinkMarkets"
            >Markets</a
          >
        </li>
      }
      <li class="list-inline-item">
        <a
          class="d-none d-sm-block no-min-width p-1"
          href="https://github.com/ghostfolio/ghostfolio"
          mat-button
          ><ion-icon name="logo-github"
        /></a>
      </li>
      <li class="list-inline-item">
        <button
          class="d-sm-block rounded"
          mat-button
          (click)="openLoginDialog()"
        >
          <ng-container i18n>Sign in</ng-container>
        </button>
      </li>
      @if (currentRoute() !== 'register' && hasPermissionToCreateUser) {
        <li class="list-inline-item ms-1">
          <a
            class="d-none d-sm-block px-3 rounded"
            color="primary"
            i18n
            mat-flat-button
            [routerLink]="routerLinkRegister"
            >Get Started</a
          >
        </li>
      }
    </ul>
  }
</mat-toolbar>
