:host {
  display: block;

  .mat-mdc-dialog-content {
    max-height: unset;
    padding-top: 1rem !important;
    background-color: var(--gf-surface-light);
  }
}

:host-context(.theme-dark) {
  .mat-mdc-dialog-content {
    background-color: var(--dark-background);
  }
}
