@use '../../../styles/table';

:host {
  display: block;

  table.gf-table {
    @include table.gf-table-cards;

    tr.mat-mdc-row {
      td.mat-column-alias,
      td.mat-column-grantee,
      td.mat-column-type {
        font-size: 1.05rem;
        font-weight: 500;
      }
    }
  }
}

:host-context(.theme-dark) {
  table.gf-table {
    @include table.gf-table-cards(true);
  }
}
