<gf-dialog-header
  position="center"
  [deviceType]="data.deviceType"
  [title]="name"
  (closeButtonClicked)="onClose()"
/>

<div class="flex-grow-1" mat-dialog-content>
  <div class="container p-0">
    <div class="row mb-4">
      <div class="col-12">
        <div
          class="dashboard-card text-center d-flex flex-column align-items-center"
        >
          @if (platform?.url) {
            <div class="asset-icon-wrapper mb-2 align-self-center">
              <gf-entity-logo
                [size]="'large'"
                [tooltip]="platformName"
                [url]="platform.url"
              />
            </div>
          } @else {
            <div class="asset-icon-wrapper mb-2 align-self-center">
              <ion-icon name="wallet-outline" />
            </div>
          }
          <gf-value
            size="large"
            [isCurrency]="true"
            [locale]="user?.settings?.locale"
            [unit]="user?.settings?.baseCurrency"
            [value]="valueInBaseCurrency"
          />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="dashboard-card">
          <div class="chart-container">
            <gf-investment-chart
              class="h-100"
              [currency]="user?.settings?.baseCurrency"
              [historicalDataItems]="historicalDataItems"
              [isInPercentage]="showValuesInPercentage()"
              [isLoading]="isLoadingChart"
              [locale]="user?.settings?.locale"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4 row">
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Cash Balance</div>
          <div class="kpi-card__value">
            <gf-value
              size="medium"
              [isCurrency]="true"
              [locale]="user?.settings?.locale"
              [precision]="balancePrecision"
              [unit]="currency"
              [value]="balance"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Equity</div>
          <div class="kpi-card__value">
            <gf-value
              size="medium"
              [isCurrency]="true"
              [locale]="user?.settings?.locale"
              [precision]="equityPrecision"
              [unit]="currency"
              [value]="equity"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Interest</div>
          <div class="kpi-card__value">
            <gf-value
              size="medium"
              [isCurrency]="true"
              [locale]="user?.settings?.locale"
              [precision]="interestInBaseCurrencyPrecision"
              [unit]="user?.settings?.baseCurrency"
              [value]="interestInBaseCurrency"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Dividend</div>
          <div class="kpi-card__value">
            <gf-value
              size="medium"
              [isCurrency]="true"
              [locale]="user?.settings?.locale"
              [precision]="dividendInBaseCurrencyPrecision"
              [unit]="user?.settings?.baseCurrency"
              [value]="dividendInBaseCurrency"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Activities</div>
          <div class="kpi-card__value">
            <gf-value size="medium" [value]="activitiesCount" />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <div class="kpi-card">
          <div class="kpi-card__label" i18n>Platform</div>
          <div class="kpi-card__value text-truncate" [title]="platformName">
            {{ platformName }}
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group
      animationDuration="0ms"
      class="mb-4"
      [class.d-none]="isLoadingActivities"
      [mat-stretch-tabs]="false"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <ion-icon name="albums-outline" />
          <div class="d-none d-sm-block ms-2" i18n>Holdings</div>
        </ng-template>
        <gf-holdings-table
          [baseCurrency]="user?.settings?.baseCurrency"
          [hasPermissionToOpenDetails]="false"
          [holdings]="holdings"
          [locale]="user?.settings?.locale"
        />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <ion-icon name="swap-vertical-outline" />
          <div class="d-none d-sm-block ms-2" i18n>Activities</div>
        </ng-template>
        <gf-activities-table
          [baseCurrency]="user?.settings?.baseCurrency"
          [dataSource]="dataSource"
          [deviceType]="data.deviceType"
          [hasPermissionToCreateActivity]="false"
          [hasPermissionToDeleteActivity]="false"
          [hasPermissionToExportActivities]="!showValuesInPercentage()"
          [hasPermissionToFilter]="false"
          [hasPermissionToOpenDetails]="false"
          [locale]="user?.settings?.locale"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [showAccountColumn]="false"
          [showActions]="
            !data.hasImpersonationId &&
            data.hasPermissionToCreateActivity &&
            user?.settings?.isExperimentalFeatures &&
            !user?.settings?.isRestrictedView
          "
          [sortColumn]="sortColumn"
          [sortDirection]="sortDirection"
          [totalItems]="totalItems"
          (activityToClone)="onCloneActivity($event)"
          (activityToUpdate)="onUpdateActivity($event)"
          (export)="onExport()"
          (pageChanged)="onChangePage($event)"
          (sortChanged)="onSortChanged($event)"
        />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <ion-icon name="cash-outline" />
          <div class="d-none d-sm-block ms-2" i18n>Cash Balances</div>
        </ng-template>
        <gf-account-balances
          [accountBalances]="accountBalances"
          [accountCurrency]="currency"
          [accountId]="data.accountId"
          [currentBalance]="balance"
          [locale]="user?.settings?.locale"
          [showActions]="
            !data.hasImpersonationId &&
            hasPermissionToDeleteAccountBalance &&
            !user.settings.isRestrictedView
          "
          (accountBalanceCreated)="onAddAccountBalance($event)"
          (accountBalanceDeleted)="onDeleteAccountBalance($event)"
        />
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<gf-dialog-footer
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onClose()"
/>
