<div class="summary-page-container p-3">
  <gf-portfolio-summary
    [baseCurrency]="user()?.settings?.baseCurrency"
    [deviceType]="deviceType()"
    [hasImpersonationId]="hasImpersonationId()"
    [hasPermissionToUpdateUserSettings]="
      !hasImpersonationId() && hasPermissionToUpdateUserSettings()
    "
    [historicalDataItems]="historicalDataItems()"
    [isLoading]="isLoading()"
    [language]="user()?.settings?.language"
    [locale]="user()?.settings?.locale"
    [summary]="summary()"
    [user]="user()"
    (emergencyFundChanged)="onChangeEmergencyFund($event)"
  />
</div>
