<div class="overview p-3">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h2 class="section-title mb-0">
      <span class="align-items-center d-flex">
        <span i18n>Watchlist</span>
        @if (user?.subscription?.type === 'Basic') {
          <gf-premium-indicator class="ms-1" />
        }
      </span>
    </h2>
    @if (!hasImpersonationId && hasPermissionToCreateWatchlistItem) {
      <button mat-stroked-button (click)="onCreateWatchlistItem()">
        <ion-icon name="add-outline" />
        <span i18n>Add to Watchlist</span>
      </button>
    }
  </div>
  <div class="row">
    <div class="col-12">
      <gf-benchmark
        [benchmarks]="watchlist"
        [deviceType]="deviceType()"
        [hasPermissionToDeleteItem]="hasPermissionToDeleteWatchlistItem"
        [locale]="user?.settings?.locale || undefined"
        [showIcon]="true"
        [user]="user"
        (itemDeleted)="onWatchlistItemDeleted($event)"
      />
    </div>
  </div>
</div>
