<div class="overview p-3">
  <div class="row">
    <div class="col">
      <h2 class="section-title" i18n>Allocations</h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="dashboard-card mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-2 overflow-hidden w-100"
        >
          <h3 class="h5 m-0 text-truncate" i18n>Proportion of Net Worth</h3>
          <gf-value
            class="justify-content-end"
            size="medium"
            [isPercent]="true"
            [value]="
              isLoading
                ? undefined
                : portfolioDetails?.summary?.filteredValueInPercentage
            "
          />
        </div>
        <mat-progress-bar
          mode="determinate"
          [title]="`${(
            portfolioDetails?.summary?.filteredValueInPercentage * 100
          ).toFixed(2)}%`"
          [value]="portfolioDetails?.summary?.filteredValueInPercentage * 100"
        />
      </div>
    </div>
  </div>
  <div class="proportion-charts row">
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 text-truncate" i18n>By Platform</h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="platforms"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['id']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Currency</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="holdings"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['currency']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Asset Class</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="holdings"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['assetClassLabel', 'assetSubClassLabel']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-12 allocations-by-symbol mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <ng-container i18n>By Holding</ng-container>
        </h3>
        <gf-portfolio-proportion-chart
          class="mx-auto"
          cursor="pointer"
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="symbols"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['symbol']"
          [locale]="user?.settings?.locale"
          [maxItems]="20"
          [separateSegments]="isDarkMode()"
          [showLabels]="deviceType !== 'mobile'"
          (proportionChartClicked)="onSymbolChartClicked($event)"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Sector</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="sectors"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['name']"
          [locale]="user?.settings?.locale"
          [maxItems]="10"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Continent</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="continents"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['name']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Market</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="marketsAdvanced"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
  </div>
  <div class="row world-map-chart mb-3">
    <div class="col-lg">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>Regions</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <div class="world-map-chart-container">
          <gf-world-map-chart
            [countries]="countries"
            [format]="worldMapChartFormat"
            [isInPercentage]="showValuesInPercentage()"
            [locale]="user?.settings?.locale"
          />
        </div>
        <div class="row">
          <div class="col-xs-12 col-md my-2">
            <gf-value
              i18n
              size="large"
              [isPercent]="true"
              [value]="markets?.developedMarkets?.valueInPercentage"
              >Developed Markets</gf-value
            >
          </div>
          <div class="col-xs-12 col-md my-2">
            <gf-value
              i18n
              size="large"
              [isPercent]="true"
              [value]="markets?.emergingMarkets?.valueInPercentage"
              >Emerging Markets</gf-value
            >
          </div>
          <div class="col-xs-12 col-md my-2">
            <gf-value
              i18n
              size="large"
              [isPercent]="true"
              [value]="markets?.otherMarkets?.valueInPercentage"
              >Other Markets</gf-value
            >
          </div>
          @if (markets?.[UNKNOWN_KEY]?.valueInPercentage > 0) {
            <div class="col-xs-12 col-md my-2">
              <gf-value
                i18n
                size="large"
                [isPercent]="true"
                [value]="markets?.[UNKNOWN_KEY]?.valueInPercentage"
                >No data available</gf-value
              >
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By Country</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="countries"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['name']"
          [locale]="user?.settings?.locale"
          [maxItems]="10"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 text-truncate" i18n>By Account</h3>
        <gf-portfolio-proportion-chart
          cursor="pointer"
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="accounts"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['id']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
          (proportionChartClicked)="onAccountChartClicked($event)"
        />
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="dashboard-card">
        <h3 class="h5 mb-3 align-items-center d-flex text-truncate">
          <span i18n>By ETF Provider</span>
          @if (user?.subscription?.type === 'Basic') {
            <gf-premium-indicator class="ms-1" />
          }
        </h3>
        <gf-portfolio-proportion-chart
          [baseCurrency]="user?.settings?.baseCurrency"
          [colorScheme]="user?.settings?.colorScheme"
          [data]="holdings"
          [glow]="true"
          [hollow]="true"
          [isInPercentage]="showValuesInPercentage()"
          [keys]="['etfProvider']"
          [locale]="user?.settings?.locale"
          [separateSegments]="isDarkMode()"
        />
      </div>
    </div>
    <div
      class="col-md-12 mb-3"
      [class.d-none]="!user?.settings?.isExperimentalFeatures"
    >
      <div class="dashboard-card">
        <div class="mb-3 overflow-hidden w-100">
          <h3 class="h5 m-0 align-items-center d-flex text-truncate">
            <span i18n>By ETF Holding</span>
            @if (user?.subscription?.type === 'Basic') {
              <gf-premium-indicator class="ms-1" />
            }
          </h3>
          <p class="text-muted small m-0">
            <ng-container i18n
              >Approximation based on the top holdings of each ETF</ng-container
            >
          </p>
        </div>
        <gf-top-holdings
          [baseCurrency]="user?.settings?.baseCurrency"
          [locale]="user?.settings?.locale"
          [pageSize]="10"
          [topHoldings]="topHoldings"
          (holdingClicked)="onSymbolChartClicked($event)"
        />
      </div>
    </div>
  </div>
</div>
